<!-- 新模块往这里写 -->
<!-- 博文 情景模块 begin-->
<!-- markdown-body -->
  <!-- 面包屑导航 -->
  <ol class="breadcrumb glyphicon glyphicon-folder-open">
    <li><a href="{:U('Admin/Index/index')}">Admin</a></li>
    <li><a href="{:U('Admin/Links/index')}">Link</a></li>
    <li class="active">index</li>
  </ol>
  <div class="panel panel panel-info">
      <div class="panel-heading">
      <span class="panel-title">链接管理 - lists<span class="pull-right"><a class="btn btn-heading" href="__CONTROLLER__/add">新增</a></span></span>
      </div>
      <div class="panel-body clearfix"><!-- clearfix清除浮动、pull-left左浮动、pull-right右浮动 -->

        <div class="well">
            <!-- table -->
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width:50px">序号</th>
                        <th >真实链接</th>
                        <th >链接说明</th>
                        <th >点击量</th>
                        <th >添加日期</th>
                        <th >更新日期</th>
                        <th style="width:13%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="data" key="k" id="v">
                        <tr class="info">
                            <td>{$v.id}</td>
                            <td >{$v.url}</td>
                            <td>{$v.explain}</td>
                            <td>{$v.click}</td>
                            <td>{$v.adddate|date="Y-m-d",###}</td>
                            <td>{$v.update|date="Y-m-d h:i:s",###}</td>
                            <td >
                                <a href="__CONTROLLER__/edit/id/{$v.id}"> 编辑 </a>&nbsp;
                                <a href="javascript:void(0);" onclick="if(confirm('确认删除？')) location.href='__CONTROLLER__/delLink/id/{$v.id}/'"> 删除 </a>
                            </td>
                        </tr>
                    </volist>
                </tbody>
            </table>
            <!-- pagination -->
            <ul class="pagination">
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
                <!-- class="disabled"  class="active" -->
            </ul>
        </div><!-- well end -->

      </div>
  </div>
</div><!--/.col-xs-12.col-sm-9-->
